*.py[cod]
*.pyo
*.pyd

env/
venv/
ENV/
.venv/
*.venv

.env
*.env
*.secret
secrets.json

*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/

*/migrations/__pycache__/
*/migrations/*.py[cod]

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

.idea/
eco_et/settings.py
settings.py
node_modules/
