[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
requests = "*"
django-ckeditor = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
python-telegram-bot = "*"

[dev-packages]

[requires]
python_version = "3.10"
