{% extends 'base.html' %}
{% block content %}
<main class="first_main">
  <div class="main_first">
    <p><a href="/">Басты бет</a></p> / <p>Себет</p>
  </div>

  {% if cart %}
  <div class="main__item">
    <table class="cart-table">
      <thead>
        <tr>
          <th>Өнім</th>
          <th>Баға</th>
          <th>Саны</th>
          <th>Жалпы баға</th>
          <th>Amal</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
        <tr>
          <td class="product-info">
            <img src="{{ item.photo }}" alt="" width="60">
            <span>{{ item.title }}</span>
          </td>
          <td>{{ item.sale_cost }} тг</td>
          <td>
            <form method="POST" action="{% url 'update_cart' %}" class="quantity-form">
              {% csrf_token %}
              <input type="hidden" name="_id" value="{{ item.id }}">
              <button type="submit" name="action" value="decrease" class="quantity-btn">−</button>
              <input type="text" name="quantity" value="{{ item.quantity }}" min="1" oninput="this.value=this.value.replace(/[^0-9]/g,'')" class="quantity-input">
              <button type="submit" name="action" value="increase" class="quantity-btn">+</button>
            </form>
          </td>
          <td>{{ item.sum }} тг</td>
          <td>
            <form method="POST" action="{% url 'remove_from_cart' %}">
              {% csrf_token %}
              <input type="hidden" name="_id" value="{{ item.id }}">
              <button type="submit" class="remove-btn">x</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="cart_totals">
      <h2>Jami narx</h2>
      <p>Umumiy: {{ total_price }} тг</p>
    </div>
  </div>
  {% else %}
    <p style="text-align:center;">Savat bo‘sh</p>
  {% endif %}
</main>
{% endblock %}
