{% extends 'base.html' %}

{% block content %}


<main class="content">
    <div class="content_filter">
        <p>көрініп тұрған өнімдер саны - 12</p>
        <div>
            <select>
                <option value="first_1">Соңғылар бойынша сұрыптау</option>
                <option value="first_2">Танымалдылық бойынша сұрыптау</option>
                <option value="first_3">Орташа баға бойынша сұрыптау</option>
                <option value="first_4">Соңғылар бойынша сұрыптау</option>
                <option value="first_5">Бағасы бойынша сұрыптау: төменнен жоғары</option>
                <option value="first_6">Бағасы бойынша сұрыптау: жоғарыдан төмен</option>
            </select>
        </div>
    </div>
    <div class="product_list">
        {% for pr in products %}
        <div class="product_item">
            <div class="product_information">
                <a href="templates/that_meet.html"><img
                        src="{{ pr.photo }}" alt=""></a>
                <div class="title_price">
                    <p class="title">{{ pr.title }}</p>
                    <p class="price">{{ pr.sale_cost }} тг/кг</p>
                </div>
                <p class="category">Сиыр етi</p>
            </div>
            <div class="product_action">
                <div>
                    <select name="" id="">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="1">5</option>
                        <option value="1">6</option>
                    </select>
                </div>
                <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
            </div>
        </div>
        {% endfor %}
    </div>

</main>

{% endblock %}


