{% extends 'base.html' %}

{% block content %}

    
    <main class="content">
        <div class="content_filter">
            <p>көрініп тұрған өнімдер саны - 12</p>
            <div>
                <select >
                    <option value="first_1">Соңғылар бойынша сұрыптау</option>
                    <option value="first_2">Танымалдылық бойынша сұрыптау</option>
                    <option value="first_3">Орташа баға бойынша сұрыптау</option>
                    <option value="first_4">Соңғылар бойынша сұрыптау</option>
                    <option value="first_5">Бағасы бойынша сұрыптау: төменнен жоғары</option>
                    <option value="first_6">Бағасы бойынша сұрыптау: жоғарыдан төмен</option>
                </select>
            </div>
        </div>
        <div class="product_list">
            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet.html"><img src="https://kublei.kz/fileadmin/user_upload/products/Gov9dina/Rebernaja_chast.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">КАБЫРГА</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Сиыр етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_2.html"><img src="static/image/Grudinka.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Төс еті</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Сиыр етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_3.html"><img src="static/image/JAzyk.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Тіл</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Сиыр етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_4.html"><img src="static/image/вареники.webp" alt=""></a>
                    <div class="title_price">
                        <p class="title">Kеспе бәліш</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Жартылай дайын өнімдер</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_5.html"><img src="static/image/манты.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Mанты</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Жартылай дайын өнімдер</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_6.html"><img src="static/image/jilik.webp" alt=""></a>
                    <div class="title_price">
                        <p class="title">Жамбас </p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Жылқы етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_7.html"><img src="static/image/kesek_et.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Кесек ет</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Қой етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/8"><img src="static/image/Legkie.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Өкпе</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Сиыр етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_9.html"><img src="static/image/pechen.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Бауыр</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Сиыр етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_10.html"><img src="static/image/пере.webp" alt=""></a>
                    <div class="title_price">
                        <p class="title">Фарш қосылған бұрыш</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Жартылай дайын өнімдер</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                   <a href="templates/that_meet_11.html"><img src="static/image/катдет.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Катлет</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Жартылай дайын өнімдер</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_12.html"><img src="static/image/qazi.jpeg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Қазы</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Жартылай дайын өнімдер</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>

            <div class="product_item">
                <div class="product_information">
                    <a href="templates/that_meet_13.html"><img src="static/image/Pochki.jpg" alt=""></a>
                    <div class="title_price">
                        <p class="title">Бүйрек</p>
                        <p class="price">2600 тг/кг</p>
                    </div>
                    <p class="category">Қой етi</p>
                </div>
                <div class="product_action">
                    <div>
                        <select name="" id="">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                            <option value="1">6</option>
                        </select>
                    </div>
                    <a class="btn-1" href="#"><i class='bx bx-cart'></i>Себетке қосу</a>
                </div>
            </div>
            </div>

    </main>

{% endblock %}


