{% extends 'base.html' %}

{% block content %}


   <nav>
        <form method="POST">
            {% csrf_token %}
            <div class="payed">
                <div class="first_pay">
                    <h1 class="h1_1">Төлем мәліметтері</h1>
                    <div class="names">
                        <input type="text" name="name" placeholder="Аты/Фамилия" required>
                        <input type="text" name="address" placeholder="Мекенжай" required>
                        <input type="tel" name="phone" placeholder="Телефон нөмірі" required>
                        <textarea name="desc" placeholder="Description" style="width: 100%; padding: 15px; height: 150px; "></textarea>
                    </div>
                </div>
                <div class="secound_pay">
                    <h1 class="h1">Сіздің тапсырысыңыз</h1>
                    <div class="product">
                        <div class="in_product">
                            <h2>Өнімдер</h2>
                            {% for car in cart %}
                                <p class="first_p">{{ car.title }}</p>
                            {% endfor %}
                        </div>
                        <div class="in_product_1">
                            <h2 class="in_productf">Бағасы</h2>
                            {% for car in cart %}
                                <p class="first_p">{{ car.sum|floatformat:2 }}тг</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="product">
                        <h2>Тасымалдау</h2>
                        <p class="shiping">
                            {% for ser in services %}
                                {{ ser.shipping_cost|floatformat:2 }} тг
                            {% endfor %}
                        </p>
                    </div>
                    <div class="last_producr">
                        <h2 class="total_p">БАРЛЫҒЫ</h2>
                        <p class="total_p">{{ summ|floatformat:2 }} тг</p>
                    </div>


                    <div class="btn-1">
                        <button type="submit">ТАПСЫРЫС БЕРУ</button>
                    </div>
                </div>
            </div>
        </form>
    </nav>

{% endblock %}